
{% extends 'proyecto/base.html' %}

{% load static %}

{% block title %}
Cursos
{% endblock %}

{% block contenido %}

        <!-- Masthead-->
        <header class="masthead">
            <div class="container position-relative">
                <div class="row justify-content-center">
                    <div class="col-xl-6">
                        <div class="text-center text-white">
                            <!-- Page heading-->
                            <h1 class="mb-5">Inicio - Buscar camada</h1>
                            <!-- Signup form-->
                            <!-- * * * * * * * * * * * * * * *-->
                            <!-- * * SB Forms Contact Form * *-->
                            <!-- * * * * * * * * * * * * * * *-->
                            <!-- This form is pre-integrated with SB Forms.-->
                            <!-- To make this form functional, sign up at-->
                            <!-- https://startbootstrap.com/solution/contact-forms-->
                            <!-- to get an API token!-->
                            
                        </div>
                    </div>
                </div>
            </div>
        </header>


<h1> Formulario para buscar cursos por camada </h1>

<form action="/proyecto/buscar/"    method="GET">

    <input type = "number" name= "camada" id="camada" >
    <input type= "submit" value="Buscar">


</form>

<p>Estamos buscando la camada nro: {{ camada }} </p>

{% if cursos %}

<ul>
{% for curso in cursos %}
    <li> {{curso.name}} </li>
    <li> {{curso.camada}} </li>
{% endfor %}

</ul>

{% endif %}

{% endblock %}


