
{% extends 'proyecto/base.html' %}

{% load static %}


{% block title %}
Profesores
{% endblock %}

{% block contenido %}

        <!-- Masthead-->
        <header class="masthead">
            <div class="container position-relative">
                <div class="row justify-content-center">
                    <div class="col-xl-6">
                        <div class="text-center text-white">
                            <!-- Page heading-->
                            <h1 class="mb-5">Profesores</h1>
                            <!-- Signup form-->
                            <!-- * * * * * * * * * * * * * * *-->
                            <!-- * * SB Forms Contact Form * *-->
                            <!-- * * * * * * * * * * * * * * *-->
                            <!-- This form is pre-integrated with SB Forms.-->
                            <!-- To make this form functional, sign up at-->
                            <!-- https://startbootstrap.com/solution/contact-forms-->
                            <!-- to get an API token!-->
                            
                        </div>
                    </div>
                </div>
            </div>
        </header>



<h1> Formulario para guardar profesores </h1>

<form action=""    method="post">
    {% csrf_token %}

    <p> Nombre: <input type = "text" name="nombre">
    <p> Apellido: <input type = "text" name="apellido">
    <p> Correo: <input type = "text" name="correo">
    <input type = "submit" value="Enviar">
</form>   

{% endblock %}